/* Add your own CSS code below */
.heart {
  color: #c85308;
}
.main-article {
  width: 50em;
  text-align: justify;
  line-height: 1.7em;
}
@media only screen and (max-width: 992px) {
  .hero__title {
    font-size: large;
  }
}
@media only screen and (min-width: 767px) {
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .views {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .views > .views__all {
    margin-left: auto;
  }
}
